[zfs-source]
name = ZFS on Linux for EL{{ ansible_distribution_major_version }} - Source
baseurl = http://download.zfsonlinux.org/epel/{{ ansible_distribution_version }}/SRPMS/
enabled = {{ zfs-source-el-enabled }}
gpgcheck = 1
gpgkey = file:///etc/pki/rpm-gpg/RPM-GPG-KEY-zfsonlinux

[zfs]
name = ZFS on Linux for EL{{ ansible_distribution_major_version }} - dkms
baseurl = http://download.zfsonlinux.org/epel/{{ ansible_distribution_version }}/$basearch/
enabled = {{ zfs-dkms-el-enabled }}
gpgcheck = 1
gpgkey = file:///etc/pki/rpm-gpg/RPM-GPG-KEY-zfsonlinux

[zfs-kmod]
name = ZFS on Linux for EL{{ ansible_distribution_major_version }} - kmod
baseurl = http://download.zfsonlinux.org/epel/{{ ansible_distribution_version }}/kmod/$basearch/
enabled = {{ zfs-kmod-el-enabled }}
gpgcheck = 1
gpgkey = file:///etc/pki/rpm-gpg/RPM-GPG-KEY-zfsonlinux

